export FLASK_APP=api
export FLASK_DEBUG=1
export FLASK_RUN_PORT=8080
export FLASK_RUN_HOST=0.0.0.0
export ASSET_DIR=/data/assets
#export STORAGE_DIR=/data/mmif-storage-251016
export STORAGE_DIR=/Users/marc/Documents/git/clams/aapb/aapb-brandeis-datahousing/shacks/aapb-public-fragments/mmif
export BUILD_DB=0
export DEVELOPER_MODE=1
