export FLASK_APP=mmif_storage
export FLASK_DEBUG=1
export FLASK_RUN_PORT=8001
export FLASK_RUN_HOST=0.0.0.0
export STORAGE_DIR=/Users/marc/Documents/git/clams/aapb/aapb-brandeis-datahousing/shacks/aapb-public-fragments/mmif
